<app-nav></app-nav>
<div class="container bg-white rounded" style="margin-top: 15px">
  <h1 style="text-align: center">Bienvenido a la</h1>
  <h2 style="text-align: center">Clínica Buena Sonrisa &nbsp;&nbsp;<img src="../../../assets/logo.png"  style="width: 100px;height:100px;"> </h2>
  
  
  <div class="container text-center extra-margin">
    <p>Nuestra clínica dental ofrece la mejor solucion efectiva en todas las áreas, en un entorno cálido y 
      confortable, que cumple estrictas normas de bioseguridad. Contamos con equipamiento, instrumental y 
      sistemas de última generación. Para tu conveniencia y comodidad, podemos realizar todos los procedimientos 
      de diagnóstico y tratamiento dentro de nuestro centro.</p>
      <img src="../../../assets/dentista-ninos.jpg" class="rounded" alt="Cinque Terre"> 
      
  </div>
  <br>
</div>