<!-- <p>diagnostico-lazy works!</p> -->
<app-nav></app-nav>
<div class="container rounded bg-white" style="margin-top: 15px">
    <h1 style="text-align: center">Carga de diagnostico</h1>
    <form [formGroup]="form">
        <div class="form-group">
            <label>Diagnostico</label>
            <textarea class="form-control" formControlName="diagnostico"></textarea>
        </div>
        <div style="text-align: center;height: 3rem">
            <button class="btn btn-primary col-4" (click)="enviarFormulario()"
                [disabled]="!this.form.valid">Enviar</button>
        </div>
    </form>
</div>