<div class="container bg-light rounded">
    <div class="row justify-content-center modal-center">
        <div class="col-12 text-center">
            <h5 class="card-title"> Cancelar Turno</h5>
        </div>
        <div class="col-12  text-center">
            <p>¿Desea marcar la ausencia?</p>
        </div>

        <div class="col-6 text-center">
            <button type="button" class="btn btn-success" (click)="manejarConfirmacion(true)">SI</button>
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-danger" (click)="manejarConfirmacion(false)">NO</button>
        </div>
    </div>
    <br>
</div>

